.profile-utils {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.profile-utils-cn {
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px dashed #42424279;
  margin-top: 1.2rem;
  margin-right: 1rem;
  border-radius: 12px;
  min-height: 200px;
}

.profile-utils-title {
  width: 100%;
  font-weight: 500;
  background: #47474710;
  padding: 1rem;
  border-radius: 12px 12px 0 0;
  font-size: 0.6rem;
  color: #fdfdfd;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.profile-utils-title svg {
    width: 20px;
    height: auto;
}

/* Información del perfil */

.profile-main-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.profile-info-cn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.profile-utils-divider {
  width: 100%;
  height: 100%;
  border-left: 1px solid #232e47;
  margin-left: 1.02rem;
}

.profile-u-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.profile-u-title svg {
  width: 35px;
  height: auto;
  padding: .4rem;
  border: 1px solid #232e47;
  border-radius: 50%;
}

.profile-utils-info-account {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  flex-direction: column;
}


.profile-utils-info-account h2 {
 font-size: .9rem;
 color: #acacac;
}

.profile-personal-information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 1.5rem;
  flex-direction: column;
}

.profile-p-title p {
  font-size: .95rem;
  color: #6ee0d3;
}

.profile-p-content p {
  font-size: .9rem;
  color: #d4d4d4;
}

.profile-utils-info {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  place-content: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.2rem 1rem;
}

/* Información del perfil */

@media (max-width: 1400px) {
  .profile-utils-cn {
    width: 95%;
    margin-right: 0;
  }
}

@media (max-width: 968px) {
  .profile-utils-info {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .profile-utils-info {
    grid-template-columns: 1fr;
  }

  .profile-utils-cn {
    width: 95%;
    border-width: .5px;
    margin: 0;
  }
}
